body {
  background-color: rgb(236, 217, 186);
}

/* overskrift h1 design */
h1{
    font-size: 60px;
font-style: Bold;
background-color: antiquewhite;
text-align: center;

}
h3{font-size:25px;}
h2{font-size:30px;}
p{
text-align: left;
}

div.a{
    line-height: 1.6;
}
div.relative {
  position: relative;
  width: 400px;
  height: 200px;
  border: 3px solid #73AD21;
} 
div.box {
  width: 300px;
  border: 2px solid black;
  padding: 15px; 
  margin: 20px; 
background-color: antiquewhite;
}
div.box2 {
  position: relative;
  top: -179px;
  left: 350px; 
  
  width: 300px;
  border: 2px solid black;
  padding: 10px; 
  margin: 20px; 
background-color: antiquewhite;
}
div.box3 {
  width: 500px;
  border: 2px solid black;
  padding: 15px; 
  margin: 20px; 
background-color: antiquewhite;
    
position: static;
top 
}